[Desktop Entry]
Version=1.0
Exec=Rscript /home/user/Desktop.R /media/sf_AIDD/AIDD_data
Name=ExToolsetDESeq2
GenericName=ExToolsetDESeq2
Comment=Run ExToolsetDESeq2
Icon=/home/user/AIDD/ExToolset.gif
Terminal=true
Type=Application
Name[en_US]=ExToolsetDESeq2.desktop
