[Desktop Entry]
Version=1.0
Exec=bash /home/user/AIDD/AIDD/ExToolset/ExToolsetGuttmanMatrix.sh
Name=ExToolsetGuttmanMatrix
GenericName=ExToolsetGuttmanMatrix
Comment=Run ExToolsetGuttmanMatrix
Icon=/home/user/AIDD/ExToolset.gif
Terminal=true
Type=Application
Name[en_US]=Guttman
