[Desktop Entry]
Version=1.0
Exec=/home/user/AIDD/AIDD/AIDD.sh 1 /home/user /media/sf_AIDD
Name=AIDD
GnericName=AIDD
Comment=Run AIDD
Icon=/home/user/AIDD/AIDD.gif
Terminal=true
Type=Application
